<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Master-page-servlet-jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GeneratePartyCodeServlet</display-name>
    <servlet-name>GeneratePartyCodeServlet</servlet-name>
    <servlet-class>com.master.page.servlet.jsp.GeneratePartyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePartyCodeServlet</servlet-name>
    <url-pattern>/GeneratePartyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LrDetail</display-name>
    <servlet-name>LrDetail</servlet-name>
    <servlet-class>com.master.page.servlet.jsp.LrDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LrDetail</servlet-name>
    <url-pattern>/LrDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnotherServlet</display-name>
    <servlet-name>AnotherServlet</servlet-name>
    <servlet-class>com.master.page.servlet.jsp.AnotherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnotherServlet</servlet-name>
    <url-pattern>/AnotherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartyDetServlet</display-name>
    <servlet-name>PartyDetServlet</servlet-name>
    <servlet-class>com.master.page.servlet.jsp.PartyDetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyDetServlet</servlet-name>
    <url-pattern>/PartyDetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageSuccess</display-name>
    <servlet-name>MessageSuccess</servlet-name>
    <servlet-class>com.master.page.servlet.jsp.MessageSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSuccess</servlet-name>
    <url-pattern>/MessageSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFile</display-name>
    <servlet-name>NewFile</servlet-name>
    <servlet-class>NewFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFile</servlet-name>
    <url-pattern>/NewFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPrac</display-name>
    <servlet-name>UserPrac</servlet-name>
    <servlet-class>com.master.page.servlet.jsp.UserPrac</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPrac</servlet-name>
    <url-pattern>/UserPrac</url-pattern>
  </servlet-mapping>
</web-app>